html {
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', sans-serif;
  height: 100%;
  font size: 50px;
}

body {
  background-image: url("../images/london.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cityescapes-title {
  font-size: 100px;
  color: black;
  text-align: center;
  padding: 20px;
  font-family: 'Crimson Text', sans-serif;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 85px;
}

/* Content */
.textbox {
  color: white;
  background-color: rgba(255, 0, 0, 0.3);
}

.team-bio {
  display: flex;
  align-items: center;
  text-align: center;
}

.meet-team {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.bio {
  flex: 50%;
}

.bio h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.bio h2 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.about-us-images {
  border: 2px;
  padding: 20px;
  height: 200px;
}

/* Footer */
.container {
  display: flex;
  align-items: center;
  position: fixed;
  height: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  justify-content: center;
}

.follow-us {
  color: black;
  margin-left: 15px;
}

.social {
  padding-left: 15px;
  height: 30px;
  justify-content: center;
}
