html {
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', sans-serif;
  height: 100%;
  font size: 50px;
}

body {
  background-image: url("../images/paris.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cityescapes-title {
  font-size: 100px;
  color: black;
  text-align: center;
  padding: 20px;
  font-family: 'Crimson Text', sans-serif;
}

/* Nav bar */
.sidebar {
  position: fixed;
  font-size: 35px;
  background-color: rgba(255, 0, 0, 0.3);
  left: 0;
  margin-top: 20px;
}

.nav {
  font-weight: bold;
  font-family: 'Crimson Text', sans-serif;
  padding-right: 20px;
}

.nav ul {
  list-style: none;
}

.nav a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: white;
}

.nav a:hover {
  color: black;
}

/* Footer */
.container {
  display: flex;
  align-items: center;
  position: fixed;
  height: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  justify-content: center;
}

.follow-us {
  color: black;
  margin-left: 15px;
}

.social {
  padding-left: 15px;
  height: 30px;
  justify-content: center;
}
