html {
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', sans-serif;
  height: 100%;
  font size: 50px;
}

body {
  background-image: url("homepage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  flex-direction: column;
}

.cityescapes-title {
  font-size: 100px;
  color: black;
  text-align: center;
  padding: 20px;
  font-family: 'Crimson Text', sans-serif;
}

/*Form*/
form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.search-box {
  width: 300px;
  height: 28px;
  margin: 0 5px;
  font-size: 15px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 6px;
  border-radius: 3px;
  border: none;
}

.submit {
  background-color: #3dc4ff;
  padding: 4.5px;
  width: 90px;
  font-size: 15px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* result.html */
/* Body of result.html */
.result-body {
  background-image: none;
}

/* City title */
.search-city-title {
  font-size: 100px;
  color: black;
  text-align: center;
  padding: 20px;
  font-family: 'Crimson Text', sans-serif;
  text-transform: capitalize;
}

form .result-search{
}

/* Result images */
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-wrapper {
  float: 25%;
  max-width: 25%;
  overflow: hidden;
}

.result-images {
  padding: 0 4px;
  margin-top: 8px;
  max-height: 300px;
  width: auto;
  vertical-align: middle;
}

.result-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-city {
  text-transform: capitalize;
  margin: 0 4px 0 4px;
}

/* Weather icons */
#rain{
  color: #3b89f7;
  font-size: 50px;
  margin-right: 12px;
}

#sun {
  color: yellow;
  font-size: 50px;
  margin-right: 12px;
}

#cloud {
  color: grey;
  font-size: 50px;
  margin-right: 12px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.sidebar {
  position: fixed;
  width: 25%;
  height: 20vh;
  background: rgba(255, 255, 255, 0.9);
  font-size: 50px;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  font-family: 'Crimson Text', sans-serif;
}

.nav ul {
  list-style: none;

  li {
    position: relative;
    margin: 3.2em 0;

    a {
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: white;
      display: block;
      transition: all ease-out 300ms;
    }


  }
}

  p {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    color: #FFF;
    font-weight: bold;
    margin-top: 20px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: center;
  float: right;
  height: 100vh;
}

.container {
  position: fixed;
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
}

.social {
  padding-left: 50px;
  font-size: : 10px;
}
